* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background: #f5f5f5; /* color of background */
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #111;
  color: white;
}

header .logo img {
  height: 60px;  
  width: 200px;    
  display: block;  
}

nav a {
  color: #ccc;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

.nav-btn {
  padding: 8px 18px;
  background: #3b82f6;
  color: white !important;
  border-radius: 4px;
}

/* Setting of sections */
section {
  max-width: 1500px;  /* Here is width of section */
  margin: 40px auto;  
  padding: 60px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

h2 {
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Hero  */
#hero .slider-area {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

#hero .slider-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  /* background-color: #f0f0f0; */    /* if feel strange,fill white color round of picture  */
  opacity: 0;
  transition: opacity 1s;  /*animation for 1 second */
}

/* shows only picture with .active */
#hero .slider-area img.active {
  opacity: 1;
}

/* About  */
#about {
  background-color: #fffbeb;
}

.content-text {
  max-width: 700px;
}

/* Portfolio  */
#portfolio {
  background-color: #ecfeff;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.item-card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

/* Contact */
footer#contact {
  background-color: #111;
  color: #999;
  text-align: center;
  padding: 80px 50px;
  width: 100%;
  margin-top: 60px;
}

footer#contact h2 {
  color: white;
}

.email-display {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 50px;
  font-size: 12px;
}

/* General button */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}